@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to your Journal and ToDo application!</p>
    <p>Click Login to login or Register to create an account!</p>
</div>
